---
declare global {
  interface Window {
    UserConfig?: {
      private_api_url: string;
      page_turning_number: number;
      error_img: string;
    };
    initFriendCircle?: () => void;
  }
}

---
<div id="friend-circle-container">与主机通讯中……</div>

<script>
window.addEventListener("load", function () {
    if (typeof window.UserConfig === 'undefined') {
      window.UserConfig = {
        private_api_url: 'https://fc-main.kemeow.top/',
        page_turning_number: 24,
        error_img: 'https://fastly.jsdelivr.net/gh/Rock-Candy-Tea/Friend-Circle-Frontend/logo.png',
      };
    }

    if (typeof window.initFriendCircle === 'function') {
      window.initFriendCircle();
    }
});
</script>

<link rel="stylesheet" href="https://fastly.jsdelivr.net/gh/Rock-Candy-Tea/Friend-Circle-Frontend/hexo-theme-butterfly/imm.min.css">
<script src="https://fastly.jsdelivr.net/gh/Rock-Candy-Tea/Friend-Circle-Frontend/hexo-theme-butterfly/imm.min.js" defer></script>
